/* Estilo para o corpo da pagina */
body {
    font-family: Arial, sans-serif; 
    background-color: palevioletred; 
}

/* Estilo para o topo da pagina */
#topo {
    position: fixed; 
    top: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    color: white;
    display: flex;
    flex-direction: column; /* Empilha a informacao e os botoes */
    align-items: center; /* Centraliza horizontalmente */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  .imagem\rosca {
    width: 200px; /* Defina o tamanho inicial da imagem */
    height: auto;
    position: absolute;
    top: -300px; /* Começar fora da tela, acima */
    animation: fall 3s ease-in-out forwards, resize 2s ease-in-out 1s forwards;
  }
  
