body {
    margin: 0;
    overflow: hidden;
    background-color: #f0f0f0;
}

.rosca {
    width: 100px;
    height: 100px;
    background-color: #ffcc00;
    border-radius: 50%;
    border: 20px solid white;
    position: absolute;
    top: -100px; /* Começa fora da tela */
    left: 0; /* Posição inicial */
    animation: fall 4s linear forwards; /* Animação de queda */
}

